	<section class="searchbox highlight">
		<!-- Application Request Routing needs the HTML attributes in this order -->
		<form action="/codes" method="get" class="searchform index" accept-charset="UTF-8">
		  <%= label_tag nil, 'Search for ICD-9 codes or keywords' %>
		  <%= text_field_tag :search, params[:search], :autofocus => '', 
			:placeholder => 'Search for ICD-9 codes or keywords', :class => 'index',
			:disabled => true %>
		  <%= button_tag 'Search', :class => 'button cta search', :name => nil %>
		</form>
		
	</section><!-- End of .search section -->

	<article class="clearfix">
		<p><em><%= @codes.total_entries %> ICD-9 Diagnosis Codes Found</em></p>
		
		<% if @codes.empty? %>
		<p>You can search for partial descriptions, multiple words and codes. Try making your search term less specific.</p>
		<% end %>
		
		<ol class="searchResults">

			<% @codes.each do |code| %>
  			<li>
				<%= link_to raw('<h3>'+code.code+'</h3>'+'<p>'+truncate(code.long, :length => 120)+'</p>'), code %>
			</li>
			<% end %>
			
		</ol>
		
		<%= will_paginate @codes %>
	</article>
