<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>ICD-9-CM Diagnosis Codes &amp; Descriptions Lookup Tool</title>
  <meta name="description" content="Quick lookup tool for ICD-9-CM Diagnosis Codes &amp; Descriptions">
  <meta name="author" content="Kareo">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/assets/application.css">
  <!-- end CSS-->

  <script src="/assets/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

  <div class="container">
	<header>
		<a href="#" id="logo"><img src="/assets/logo.png" alt="Kareo Help Center" title="Kareo Help Center"></a>
		<h1>ICD-9-CM Diagnosis Codes Lookup Tool</h1>
	</header><!-- End of header -->
	
	<section class="searchbox highlight">
		
		<%= form_tag codes_path, :method => 'get', :class => 'searchform' do %>
		  <%= label_tag nil, 'Search for ICD-9 codes or keywords' %>
		  <%= text_field_tag :search, params[:search], :autofocus => '', 
			:placeholder => 'Search for ICD-9 codes or keywords' %>
		  <%= button_tag 'Search', :class => 'button cta search', :name => nil %>
		<% end -%>
		
	</section><!-- End of .search section -->

<%= yield %>

<footer>
		<nav class="footernav">
			<ul>
				<li><a href="http://kareo.com">Powered by Kareo</a></li>
			</ul>
		</nav>
	</footer>
	
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/assets/application.js"></script>
  <!-- end scripts-->


  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>

