<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= truncate(@pageTitle, :length => 70) %></title>
  <meta name="description" content="<%= truncate(@pageDesc, :length => 150) %>">
  <meta name="author" content="Kareo">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">
	<header>
		<a href="/" id="logo"><img src="/assets/logo.png" alt="Kareo Logo" title="Kareo"></a>
		<h1>ICD-9-CM Diagnosis Codes Lookup Tool</h1>
	</header><!-- End of header -->
	
	<section class="searchbox highlight">
		<!-- Application Request Routing needs the HTML attributes in this order -->
		<form action="/codes" method="get" class="searchform" accept-charset="UTF-8">
		  <%= label_tag nil, 'Search for ICD-9 codes or keywords' %>
		  <%= text_field_tag :search, params[:search], :autofocus => '', 
			:placeholder => 'Search for ICD-9 codes or keywords' %>
		  <%= button_tag 'Search', :class => 'button cta search', :name => nil %>
		</form>
		
	</section><!-- End of .search section -->

	<%= yield %>

	<footer>
		<nav class="footernav">
			<ul>
				<li><a href="http://kareo.com">Powered by Kareo</a></li>
			</ul>
		</nav>
	</footer>
	
  </div> <!--! end of #container -->
  <%= javascript_include_tag "application" %>

<!-- Kiss Insights -->
<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="http://s3.amazonaws.com/ki.js/31384/66Q.js" async="true"></script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31941-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>

